:root {
    --main-color:#10cab7;
    --scondry-color:#2C4755;
    --section-padding:60px;
    --section-background: #f6f6f6;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768) {
    .container {
        width: 754px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1070px;
    }
}
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}
/* start components */
.special-heading {
    color: #EBECED;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #797979;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px 0 0;
    }
}
/* end components */
/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon span:nth-child(3) {
    width: 100%;
}
.header .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    background-color: var(--section-background);
    min-width:200px;
    display: none; 
    z-index: 1;
}
.header .links ul::before {
    content: "";
    position: absolute;
    right: 5px;
    top: -20px;
    border-color: transparent transparent #f6f6f6;
    border-width: 10px;
    border-style: solid;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.header .links ul li a:hover {
    padding-left:25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
/* End header */
/* start landing section */
.landing {
    height: calc(100vh - 64px);
    background-image: url(../image/pexels-photo-355747.jpeg);
    background-size: cover;
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text{
    font-size: 19px;
    line-height: 1.8;
}
/* end landing section */
/* start features  */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background: var(--section-background);
}
.features .container {
    gap: 20px;
}
.features .feat {
    text-align: center;
    padding:20px;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}
.features .feat p {
    line-height: 1.6;
    font-size: 17px;
    color: #777;
}
/* end features  */
/* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .services-content {
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }

}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .text {
    flex: 1;
}
.services .services-content .text h3 {
    margin: 0 0 30px;
}
.services .services-content .text p {
    font-weight: 300;
    color: #444;
    line-height: 1.6;
}
.services .services-content .image {
    position: relative;
    text-align: center;
}
.services .services-content .image::before {
    content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 100px;
    background-color: var(--scondry-color);
    right: 0;
    top: -50px;
    z-index: -1;

}
.services .services-content .image img {
    width: 260px;
}
@media (max-width:1199px) {
    .services .services-content .image-column{
        display: none;
    }
}
/* end services */
/* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background:var(--section-background);
}
.portfolio .portfolio-content {
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;

}
.portfolio .portfolio-content .card .info h3 {
    margin:0;    
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    margin-bottom: 0;
    line-height: 1.6;
}
/* end portfolio */
/* start about */
.aAbout {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 100px);
}
.aAbout-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px){
    .aAbout-content {
        flex-direction: column;
        text-align: center;
    }
}
.aAbout-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px){
    .aAbout-content .image{
        margin: 0 auto 60px;
    }
}
.aAbout-content img {
    max-width: 100%;
}  
.aAbout-content .image::before {
    content: "";
    position: absolute;
    height: calc(100% + 80px);
    width: 100px;
    background-color: hsl(210, 5%, 93%);
    left: -20px;
    top: -40px;
    z-index: -1;
}
.aAbout-content .image::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 120px;
    border-bottom: 80px solid #10CAB7;
    border-left: 80px solid #10CAB7;
    right: -150px;
    top: -40px;
    z-index: -1;
}
@media (max-width:991px){
    .aAbout-content .image::before,
    .aAbout-content .image::after{
        display: none;
    }
}
.aAbout-content .text {
    flex-basis: calc(100% - 500px);
}
.aAbout-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.aAbout-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.aAbout-content .text p:last-of-type {
    color: #777;
    line-height: 2;

}
/* end about */
/* start contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background:var(--section-background);
}
.contact-content .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact-content .info p {
    font-size: 35px;
    font-weight: 800;
    color: var(--scondry-color)  ;
    margin-bottom: 15px;
    line-height: -2px;
}
.contact-content .info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact-content .social {
    display: flex;
    justify-content: center;
    color: var(--scondry-color);
    margin-top: 20px;
    font-size: 18px ;
}
.contact-content .social i {
    margin-left: 10px;
    color: var(--scondry-color);
}
@media (max-width:767px) {
    .contact-content .info a,
    .contact-content .info p{
        font-size: 25px;
    }
}
.footer {
    background-color: var(--scondry-color);
    color: white;
    text-align: center;
    padding: 30px 10px;
    font-size: 18px;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* end contact */





